<!DOCTYPE html>
<html>
<head>
  <title>Virtual Chemistry Model Set</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='threejs'></div>
  <div id='piece-container'>
    <p>Atoms</p>
    <div class='piece-info'>
      <%= image_tag('redcircle.png', {class: 'piece', id: 'carbon'}) %>
      <p>C (four bonding sites)</p>
    </div>
    <div class='piece-info'>
      <%= image_tag('singlebond.png', {class: 'piece', id: 'single-bond'}) %>
      <p>Single Bond</p>
    </div>
  </div>
</body>
</html>
